{% load render_bundle from webpack_loader %}
{% load webpack_static from webpack_loader %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Finest Deli</title>

    {% render_bundle 'bodega' 'css' %}
    {% render_bundle 'bodega' 'js' attrs='async' %}
  </head>
  <body>

    <!-- Root -->
    <main id="root">{{ html|safe }}</main>

    <!-- Redux State -->
    <script>
      window.__REDUX_STATE__ = {{ finalState|safe }}
    </script>

  </body>
</html>